---
layout: page
title: OMNEST - Simulation of Wireless and Wired Networks
menu: product
---


<div id="header"><h1>Simulation of Wireless and Wired Networks</h1></div>

<img class="right" src="images/misc/network.png" alt="">

<p><b>The largest application area for OMNEST is the simulation of
various communication networks,</b> such as wired and wireless networks,
mobile ad-hoc networks, sensor networks, vehicular networks and others.
</p>

<div id="header"><h1>Simulation Models</h1></div>

<p>OMNEST is compatible with the vast body of open-source simulation models
that have been written by researchers for the OMNeT++ simulation framework.
</p>

<p>The list of simulation models and model frameworks is available on the
<a href="simulation-models">Simulation Models</a> page.</p>

<div id="header"><h1>Benefits</h1></div>

<p>Models such as the INET Framework or Castalia are <i>frameworks</i>,
specifically designed to be easy to extend and to build on top of them.
</p>

<p>Thanks to OMNEST's component architecture, you can combine existing blocks
(protocol models, application models, queues, etc.) and your custom blocks
to create models of arbitrary hosts, routers, switches, and other network devices.
Protocol models can also be mixed with other types of simulation models
such as queueing or resource allocation models.</p>


<!--
<p>A more complete list of models and frameworks is available on the
<a href="http://www.omnetpp.org/models" target="_blank">OMNeT++ web site</a>.</p>
-->

<div id="header"><h1>Case Studies</h1></div>

<ul>
<li><a href="casestudy-boss">The Celtic BOSS Project (Railway on-board wireless secured video surveillance)</a>
<li><a href="casestudy-adhoc">Detailed Cross-Layer Simulator for Content Transmission over Wireless Ad-Hoc Networks</a>
<li><a href="casestudy-lrwpan">Simulation Study of IEEE 802.15.4 LR-WPAN for Industrial Applications</a>
</ul>

<!--
{% include next_link.html url="simulation-models" text="Simulation Models" %}
{% include next_link.html url="application-areas" text="Back to Application Areas" %}
-->


