---
layout: page
title: OMNEST - Selected Publications
menu: product
head_contribution: <script src="common/collapsible.js" type="text/javascript"></script>
---


<div id="header"><h1>Selected Publications</h1></div>


<div class="pic right" >
<img src="images/misc/publications-by-year.png" alt="Publications by year"/>
<div style="width: 230px">Number of OMNEST/OMNeT++ related publications each year (source: Google Scholar)</div>
</div>

<p><b>OMNeT++, the academic version of OMNEST has grown to be one of the most popular
simulation platforms for the research of various computer networks.</b>
In recent years, the number of scientific publications written with OMNeT++ and OMNEST
has been well over two hundred each year, and this number keeps growing.</p>

<p>Below is a list of selected publications that you may find interesting.</p>

<div style="clear: both;"/>

<div style="text-align: right;"><a toggleAll="yes">Expand all</a></div>


<h2 class="framed" id="inet">Internet</h2>
<div>
{% include publication.html id="Munoz2010" %}
{% include publication.html id="Dreibholz2010" %}
{% include publication.html id="JGRodrigo2010" %}
{% include publication.html id="Baumgart2007" %}
</div>


<h2 class="framed" id="lans">Wired and Wireless LANs</h2>
<div>
{% include publication.html id="DHondt2011" %}
{% include publication.html id="ShuoFang2010" %}
{% include publication.html id="ZhiZhang2010" %}
{% include publication.html id="FengChen2008" %}
</div>


<h2 class="framed" id="manets">Mobile Ad-hoc Networks</h2>
<div>
{% include publication.html id="massin2010" %}
{% include publication.html id="kopke2008" %}
</div>


<h2 class="framed" id="wsn">Sensor Networks</h2>
<div>
{% include publication.html id="JinGuo2011" %}
{% include publication.html id="PKumar2009" %}
{% include publication.html id="LCZhong2004" %}
</div>


<h2 class="framed" id="vehicular">Vehicular Networks</h2>
<div>
{% include publication.html id="Pandit2013" %}
{% include publication.html id="Baguena2013" %}
{% include publication.html id="Noori2013" %}
{% include publication.html id="Eiza2012" %}
{% include publication.html id="Ajaltouni2012" %}
{% include publication.html id="sommer2011bidirectionally" %}
</div>


<h2 class="framed" id="in-vehicle">In-vehicle Networks</h2>
<div>
{% include publication.html id="Buschmann2013" %}
{% include publication.html id="Steinbach2012" %}
{% include publication.html id="HyungTaek2011" %}
</div>


<h2 class="framed" id="cellular">Cellular Networks</h2>
<div>
{% include publication.html id="draxler2012" %}
{% include publication.html id="klein2011" %}
{% include publication.html id="Alim2011" %}
{% include publication.html id="TYamada2009" %}
</div>


<h2 class="framed" id="satellite">Satellite Communications</h2>
<div>
{% include publication.html id="Niehoefer2013" %}
{% include publication.html id="lewandowski2008" %}
{% include publication.html id="Boussemart2008" %}
</div>


<h2 class="framed" id="optical">Optical Networks</h2>
<div>
{% include publication.html id="Kim2011" %}
{% include publication.html id="Zhao2010" %}
</div>


<h2 class="framed" id="interconnection">Interconnection Networks</h2>
<div>
{% include publication.html id="Yebenes2013" %}
{% include publication.html id="Gran2011" %}
</div>


<h2 class="framed" id="nocs">Networks-on-Chip (NoCs)</h2>
<div>
{% include publication.html id="BenItzhak2011" %}
{% include publication.html id="Hendry2009" %}
</div>


<h2 class="framed" id="cloud">Cloud computing, HPC clusters, SANs</h2>
<div>
{% include publication.html id="birke2012" %}
{% include publication.html id="altevogt2011" %}
{% include publication.html id="denzel2010" %}
{% include publication.html id="gusat2009" %}
{% include publication.html id="minkenberg2009" %}
</div>






