    <table class="footerlinks">
        <tr>
          <td class="colhead" colspan="3" >Product</td>
          <td class="colhead">Purchase</td>
          <td class="colhead">About Us</td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Introduction
                        <ul>
                            <li><a href="omnest-is" id="footermenu">What is OMNEST?</a>
                            <li><a href="tour-models" id="footermenu">Product Tour</a>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Learn More
                        <ul>
                            <li><a href="overview" id="footermenu">Overview</a>
                            <li><a href="application-areas" id="footermenu">Application Areas</a>
                            <li><a href="simulation-models" id="footermenu">Simulation Models</a>
                            <li><a href="ide" id="footermenu">Simulation IDE</a>
                            <li><a href="demo-videos" id="footermenu">Demo Videos</a>
                            <li><a href="documentation" id="footermenu">Documentation</a>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>OMNEST In the World
                        <ul>
                            <li><a href="references" id="footermenu">Customers</a>
                            <!-- <li><a href="testimonials" id="footermenu">Testimonials</a> -->
                            <li><a href="publications" id="footermenu">Publications</a>
                            <li><a href="case-studies" id="footermenu">Case Studies</a>
                            <li><a href="netsim-references" id="footermenu">Reference Projects</a>
                            <li><a href="network-simulation-book" id="footermenu">Book Recommendation</a>
                        </ul>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><a href="contact" id="footermenu">Contact Us /<br> Request Quotation</a></li>
                    <li><a href="licensingfaq" id="footermenu">Do I Need a License?</a></li>
                    <li><a href="licensing" id="footermenu">Licensing Options</a></li>
                    <li><a href="license" id="footermenu">License Agreement</a></li>
                    <li><a href="comparison" id="footermenu">OMNeT++ Comparison</a></li>
                    <li><a href="support" id="footermenu">Technical Support</a></li>
                    <li><a href="download" id="footermenu">Download OMNEST</a></li>
                    <li><a href="services" id="footermenu">Consulting, Training</a></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><a href="company" id="footermenu">Company</a>
                    <li><a href="partners" id="footermenu">Partners</a>
                </ul>
            </td>
        </tr>
    </table>
