{% assign pub = site.data.publications[include.id] %}

<p id="{{ include.id }}">
    {% if pub.logo %}
        {% assign logos = pub.logo | split: " " %}
        {% for logo in logos %}
            <img src="{{ site.baseurl }}/images/misc/{{ logo }}.png" style="vertical-align: middle; padding-right: 2px;"/>
        {% endfor %}
    {% endif %}

    <a href="{{ pub.link }}" target="_blank">{{ pub.title }}</a>. <i>{{ pub.authors }}, {{ pub.year }}</i>. {{ pub.where }}.

    {% if pub.pdf %}
        [<a href="{{ pub.pdf }}" target="_blank">PDF</a>]
    {% endif %}
</p>
