<script type="text/javascript">
    function switchSlideshow() {
        var $active = $("#slideshow IMG.slideshow-active");
        if ($active.length == 0) $active = $("#slideshow IMG:last");
        var $next = $active.next().length ? $active.next() : $("#slideshow IMG:first");
        $active.addClass("slideshow-last-active");
        $next.css({opacity: 0.0})
            .addClass("slideshow-active")
            .animate({opacity: 1.0}, 500, function() {
                $active.removeClass("slideshow-active slideshow-last-active");
            });
    }

    $(document).ready(function() {
        console.log("Slideshow initialization started");
        var images = [
            "/images/slideshow/ethernet-switch.jpg",
            "/images/slideshow/laptops.jpg",
            "/images/slideshow/wireless-tower-sign.jpg",
            "/images/slideshow/datacenter.jpg",
            "/images/slideshow/junction.jpg",
            "/images/slideshow/in-car-network.jpg",
            "/images/slideshow/sensor-nodes.jpg",
            "/images/slideshow/comm-towers.jpg",
            "/images/slideshow/optical-switch.jpg",
            "/images/slideshow/satellite.jpg",
            "/images/slideshow/satellite-dishes.jpg"
        ];
        
        var first = true;
        var slideshow = document.getElementById("slideshow");
        
        if (slideshow) {
            console.log("Slideshow element found, adding images");
            // Clear any existing content
            slideshow.innerHTML = '';
            
            // Add images to slideshow
            for (var i = 0; i < images.length; i++) {
                var imageElement = document.createElement("img");
                imageElement.src = images[i];
                imageElement.alt = "OMNEST Simulation Slideshow";
                imageElement.style.position = "absolute";
                imageElement.style.top = "0";
                imageElement.style.left = "0";
                imageElement.style.width = "100%";
                imageElement.style.height = "100%";
                imageElement.style.objectFit = "cover";
                imageElement.style.opacity = first ? "1" : "0";
                imageElement.className = first ? "slideshow-active" : "";
                first = false;
                slideshow.appendChild(imageElement);
                console.log("Added image: " + images[i]);
            }
            
            // Start slideshow
            setInterval(switchSlideshow, 3500);
            console.log("Slideshow interval started");
        } else {
            console.log("Slideshow element not found!");
        }
    });
</script>

<style type="text/css">
    #slideshow {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--color-primary-dark);
        overflow: hidden;
    }
    
    #slideshow img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 8;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    #slideshow img.slideshow-active {
        z-index: 10;
        opacity: 1;
    }
    
    #slideshow img.slideshow-last-active {
        z-index: 9;
    }
    
    /* Network terms underlay */
    .network-terms-underlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    .network-terms-underlay span {
        font-family: var(--font-heading);
        color: rgba(255, 255, 255, 0.4);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
    
    .hero-content {
        position: relative;
        z-index: 2;
    }
</style>
