{% assign current_page_url = page.url | remove: '.html' | remove: '/' %}

{% comment %} Determine which section is active - only one should be active at a time {% endcomment %}
{% assign active_section = "none" %}

{% if page.menu == 'product' or page.menu == 'tour' %}
  {% assign active_section = "product" %}
{% elsif current_page_url == 'try-omnest' or current_page_url contains 'download-eval' %}
  {% assign active_section = "try" %}
{% elsif current_page_url == 'company' or current_page_url == 'partners' %}
  {% assign active_section = "about" %}
{% elsif current_page_url == 'support' or current_page_url == 'downloads' or current_page_url == 'services' %}
  {% assign active_section = "services" %}
{% elsif page.menu == 'purchase' or current_page_url == 'contact' or current_page_url contains 'licensing' %}
  {% assign active_section = "buy" %}
{% endif %}

<a href="{{ site.baseurl }}/omnest-is" id="topmenu" class="{% if active_section == 'product' %}topmenuitem_selected{% else %}topmenuitem{% endif %}">PRODUCT</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{ site.baseurl }}/try-omnest" id="topmenu" class="{% if active_section == 'try' %}topmenuitem_selected{% else %}topmenuitem{% endif %}">TRY OMNEST</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{ site.baseurl }}/contact" id="topmenu" class="{% if active_section == 'buy' %}topmenuitem_selected{% else %}topmenuitem{% endif %}">HOW TO BUY</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{ site.baseurl }}/services" id="topmenu" class="{% if active_section == 'services' %}topmenuitem_selected{% else %}topmenuitem{% endif %}">SERVICES</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{ site.baseurl }}/company" id="topmenu" class="{% if active_section == 'about' %}topmenuitem_selected{% else %}topmenuitem{% endif %}">ABOUT US</a>
