BODY  {	
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color : #000000;
}

P {
  text-align : justify;
  font-size : 12px;
}

TD.header, A.header, A.header:VISITED, A.header:ACTIVE {
	background-color : #00607B;
  color : white;
}

A.header:HOVER {
	color :  Silver;
  text-decoration : none;
}

A.menu, A.menu:VISITED, A.menu:ACTIVE {
  color: black;
  font-weight : bold;
}

A.menu:HOVER {
	color :  #00607B;
  text-decoration : none;
}

A, A:VISITED  {
	color : #00607B;
	text-decoration : none;
}

A:HOVER, A:ACTIVE  {
	color : #000000;
	text-decoration : none;
}


SPAN.News_Title  {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15pt;
	color : #00607B;
}
SPAN.News_SubTitle  {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color : #000000;
	font-weight : bold;
}
TD.News_Text  {
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  color : #000000;
  text-align : justify;
}

IMG.News_Pic {
	margin-top : 3px;
	margin-bottom : 10px;
	margin-left : 0px;
	margin-right : 10px;
}



A.Small_Title  {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color : #00607B;
	font-weight : bold;
	text-decoration : none;
}
A:HOVER.Small_Title  {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color : #000000;
	font-weight : bold;
	text-decoration : none;
}
A:ACTIVE.Small_Title  {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color : #000000;
	font-weight : bold;
	text-decoration : none;
}
TD.Small_Text  {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color : #000000;
}



IMG.Right_Pic {
	margin-top : 5px;
	margin-bottom : 5px;
	margin-left : 0px;
	margin-right : 0px;
	border : 1px solid Black;
}

LI {
  font-size : 12px;
  text-align : justify;
}

LI.reddot  {
  font-size : 12px;
  text-align : justify;
  list-style-image : url(../images/red_point.gif);
}


